<footer class="footer-container">
<div class="footer-content">
    <div class="footer-item">
        <div class="footer-subitem">
            <div class="heading">
                BHOPAL OFFICE
            </div>
            <div class="content">
                <p><b>ADDRESS :- </b><br>F-120/25 Sivaji Nagar, Near Parul Hospital.<br> Pincode - 45160</p>
                <p><b>BUSINESS HOURS :-</b><br>Monday – Friday: 10 am – 6 pm <br>Saturday: 10 am – 2 pm</p>
            </div>
        </div>
        <div class="footer-subitem">
            <div class="heading">
                BALAGHAT OFFICE
            </div>
            <div class="content">
                <p><b>ADDRESS :- </b><br>F-120/25 Sivaji Nagar, Near Parul Hospital.<br> Pincode - 45160</p>
                <p><b>BUSINESS HOURS :-</b><br>Monday – Friday: 10 am – 6 pm <br>Saturday: 10 am – 2 pm</p>
            </div>
        </div>
    </div>
    <div class="footer-item">
        <div class="footer-subitem">
            <div class="heading">
                FOLLOW US ON
            </div>
            <div class="content">
                <div class="social">
                    <a class="social-icon" href="/"><span nz-icon nzType="instagram" nzTheme="outline" class="icon"></span></a>
                    <p class="social-text"> on Instagram for a behind-the-scenes look into our work (and our lives)</p>
                </div>
                <div class="social">
                    <a class="social-icon" href="/"><span nz-icon nzType="youtube" nzTheme="outline" class="icon"></span></a>
                    <p class="social-text">Check out our YouTube channel for home tours, design tips, and industry insights</p>
                </div>
                <div class="social">
                    <a class="social-icon" href="/"><span nz-icon nzType="linkedin" nzTheme="outline" class="icon"></span></a>
                    <p class="social-text">Connect on Linked-In for professional collaboration </p>
                </div>
                </div>
            </div>
        </div>
    <div class="footer-item">
        <div class="footer-subitem">
            <div class="heading">
                CONTACT
            </div>
            <div class="content">
                <p>+917987513557<br>+919753641403<br>+917987513557<br>anukritiassociates&#64;gmail.com</p>
            </div>
        </div>
        
    </div>
    

</div>
<div class="copyright-footer">© ALL RIGHTS RESERVED BY ANUKRITI ASSOCIATES</div>
</footer>
